<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//MYBATIS.ORG//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="competition.dao.CompetitionDao">
    <resultMap id="BaseResultMap" type="competition.entity.Competition">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="host_unit" property="host_unit" jdbcType="VARCHAR"/>
        <result column="lev" property="lev" jdbcType="VARCHAR"/>
        <result column="describe" property="describe" jdbcType="VARCHAR"/>
        <result column="competition_way" property="competition_way" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="isdel" property="isdel" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findAllCompetition" resultMap="BaseResultMap">
        select * from competition WHERE isdel='1'
    </select>

    <select id="findCompetitionByPage" resultMap="BaseResultMap" parameterType="competition.entity.Page">
        select * from competition WHERE isdel='1' limit #{start_items},#{limit}
    </select>

    <select id="findCountCompetition" resultType="INTEGER">
        select count(*) from competition WHERE isdel='1'
    </select>

    <select id="getCompetition_way" parameterType="STRING" resultType="INTEGER">
        select competition_way from competition WHERE isdel='1' AND id=#{competition}
    </select>

    <insert id="addCompetition" keyProperty="id" parameterType="competition.entity.Competition">
        /*采用数据库自带的uuid生成主键*/
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into competition(id,name,host_unit,lev,competition_describe,competition_way,type,isdel) VALUES (
        #{id},#{name},#{host_unit},#{lev},#{competition_describe},#{competition_way},#{type},'1'
        )
    </insert>

    <update id="updateCompetition" parameterType="competition.entity.Competition">
        UPDATE competition SET name=#{name},host_unit=#{host_unit},lev=#{lev},competition_describe=#{competition_describe},competition_way=#{competition_way},type=#{type} WHERE id =#{id}
    </update>

    <update id="delCompetition" parameterType="competition.entity.Competition">
        UPDATE competition SET isdel='0' WHERE id =#{id}
    </update>


</mapper>